body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.width50 {
  display: inline-block;
  width: 75px;
  text-align: end;
}

span{
  width: 50px;
}
a {
  color: #00B7FF;
}
